.modal__body {
    background-color: #252525;
}

.modal__body h1, .modal__body h2, .modal__body h3, .modal__body h4, .modal__body h5 {
    color: #E5CF9B;
}

#modal__form {
    width: 100%;
}

#modal__form form .hs-fieldtype-booleancheckbox ul {
    padding-left: 0;
}

#modal__form form .hs-fieldtype-booleancheckbox ul label.hs-form-booleancheckbox-display {
    display: flex;
    align-items: center;
}

#modal__form form .hs-fieldtype-booleancheckbox ul label.hs-form-booleancheckbox-display > input {
    width: auto !important;
    margin-right: 0.5em;
}
#modal__form form .hs-fieldtype-booleancheckbox ul label.hs-form-booleancheckbox-display > span {
    line-height: 1;
    color: #fff;
}
#modal__form form label {
    display: none;
}

#modal__form form fieldset > * {
    margin-bottom: 0.666666rem;
}

#modal__form form select {
    min-height: 39px;
}

#modal__form form .hs-fieldtype-booleancheckbox ul:first-child {
    padding-bottom: 6px;
}

#modal__form form input[type="submit"] {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: -0.43px;
    text-align: center;
    padding: 0.889em 2.253em;
    border: none;
}
