<!--
    templateType: page
    label: Custom Pop Up Test Page
    isAvailableForNewContent: true
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8"> 
    <title>{{ content.html_title }}</title>
    <meta name="description" content="{{ content.meta_description }}">
    {{ standard_header_includes }}
  </head>
  <body>
    {% module "module_16045311428058" path="/cms-vue-boilerplate/modules/Custom Pop Up Form", label="Custom Pop Up Form" %}
    {{ standard_footer_includes }}
  </body>
</html>
